<div class="nav_bar">
  <div class="my">
    <h3>my</h3>
  </div>
  <div class="prescription">
    <h3>prescription</h3>
  </div>
  <div class="pal">
    <h3>pal</h3>
  </div>
</div>
<div class="title_bar">
  <div class="title_name">
    <h4>Patient Sign In</h4>
  </div>
</div>

<div class="page_content">
  <div class="sign_in_greeting">
    <h4>We are dedicated to helping you regulate your short-term and chronic pain needs.</h4>
  </div>
  <h5>
      If you don't have an account, you can <%= link_to 'create an account', patient_sign_up_path %>
  </h5>
  <%= form_tag do %>

    <div class="sign_in_form">
      <%= label_tag :email %>
      <%= text_field_tag :email %>
    </div>

    <div class="sign_in_form">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>

    <div class="sign_in_form">
      <%= submit_tag "Sign In" %>
    </div>

  <% end %>
</div>
