<h1>Welcome!  Here at Pain Shield we are dedicated to helping you regulate your short-term and chronic pain needs.</h1>

<h5>If you don't have an account, you can <%= link_to 'create an account', patient_sign_up_path %>.</h5>
<%= form_tag do %>

  <div class="sign_in_form">
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>

  <div class="sign_in_form">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>

  <div class="sign_in_form">
    <%= submit_tag "Sign In" %>
  </div>

<% end %>
