<%= render 'layouts/header' %>
<%= render 'layouts/titlebarstart' %>Sign In<%= render 'layouts/titlebarend' %>
<div class="page_content">
  <div class="choices">
    <div class="choice btn btn-default">
        <%= link_to 'I am a patient', patient_sign_in_path %>
    </div>
    <div class="choice btn btn-default">
        <%= link_to 'I am a doctor', doctor_sign_in_path %>
    </div>
  </div>
</div>
<p> Hello, World </p>
