<h1>Pain Shield</h1>

<% if @current_doctor %>
  Hello, Dr. <%= @current_doctor.last_name %>
  <%= link_to "Sign Out", doctor_sign_out_path, method: :delete %>
<% elsif @current_patient %>
  Hello, <%= @current_patient.first_name %>
  <%= link_to "Sign Out", patient_sign_out_path, method: :delete %>
<% end %>

<ul><h3>Your Prescriptions</h3>
  <% @prescriptions.each do |prescription| %>
    <li>
      <%= link_to "#{prescription.drug.brand_name}", prescription_path(id: prescription.id)%>
      <%= prescription.initial_amount_of_pills %>
    </li>
  <% end %>
</ul>
