<%= render 'layouts/header' %>
<%= render 'layouts/titlebarstart' %>Patients Index<%= render 'layouts/titlebarend' %>
<div class="page_content">
  <table class="patients_table table table-striped">
    <tr>
      <th>Username</th>
      <th>Full Name</th>
    </tr>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= link_to "#{patient.email}", new_patient_prescription_path(id: @current_doctor.id, patient_id: patient.id) %></td>
        <td><%= patient.full_name %></td>
      </tr>
    <% end %>
  </table>
</div>
