<div class="nav_bar">
  <div class="my">
    <h3>my</h3>
  </div>
  <div class="prescription">
    <h3>prescription</h3>
  </div>
  <div class="pal">
    <h3>pal</h3>
  </div>
  <div class="user_nav_bar">
    <% if @current_doctor %>
      <div class="greeting">
        Hello, Dr. <%= @current_doctor.last_name %>
      </div>
      <div class="messages">
        Messages
      </div>
      <div class="sign_out">
        <%= link_to "Sign Out", doctor_sign_out_path, method: :delete %>
      </div>
    <% elsif @current_patient %>
      <div class="greeting">
        Hello, <%= @current_patient.full_name %>
      </div>
      <div class="messages">
        Messages
      </div>
      <div class="sign_out">
      <%= link_to "Sign Out", patient_sign_out_path, method: :delete %>
      </div>
    <% end %>
  </div>
</div>
<div class="title_bar">
  <div class="title_name">
    <h4>Add New Prescription for <%= @patient.full_name %></h4>
  </div>
</div>
<div class="page_content">
  <div class="prescription_greeting">
    <h4>Please enter in your prescription information here</h4>
  </div>
  <div class="prescription_form">
    <%= simple_form_for @prescription do |f| %>
      <%= f.input :drug_name, label: "Drug Name" %>

      <%= f.input :purpose, label: "Purpose" %>

      <%= f.input :instructions, label: "Instructions" %>

      <%= f.input :doses_per_day, label: "Doses Per Day" %>

      <%= f.input :max_dose_amount, label: "Max Dose Amount" %>

      <%= f.input :initial_amount_of_pills, label: "Amount of Pills" %>

      <%= f.input :length_of_prescription, label: "Length of Prescription (Days)" %>

      <%= f.submit "Create New Prescription" %>
    <% end %>
  </div>
</div>
