<%= render 'layouts/header' %>
<%= render 'layouts/titlebarstart' %>Add New Prescription for <%= @patient.full_name %><%= render 'layouts/titlebarend' %>
<div class="page_content">
  <div class="prescription_greeting">
    <h4>Please enter in your prescription information here</h4>
  </div>
  <div class="prescription_form">
    <%= simple_form_for @prescription do |f| %>
      <%= f.input :drug_name, label: "Drug Name" %>

      <%= f.input :purpose, label: "Purpose" %>

      <%= f.input :instructions, label: "Instructions" %>

      <%= f.input :doses_per_day, label: "Doses Per Day" %>

      <%= f.input :max_dose_amount, label: "Max Dose Amount" %>

      <%= f.input :initial_amount_of_pills, label: "Amount of Pills" %>

      <%= f.input :length_of_prescription, label: "Length of Prescription (Days)" %>

      <%= f.submit "Create New Prescription" %>
    <% end %>
  </div>
</div>
