<%= render 'layouts/header' %>
<%= render 'layouts/titlebarstart' %>Your Patients<%= render 'layouts/titlebarend' %>
<div class="page_content">
  <div class="new_patient btn btn-default">
    <%= link_to 'Add New Patient', all_patients_path %>
  </div>
  <table class="table table-striped">
    <tr>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Prescriptions</th>
    </tr>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= link_to "#{patient.email}", doctor_view_patient_path(patient_id: patient.id) %></td>
        <td><%= patient.first_name %></td>
        <td><%= patient.last_name %></td>
        <td><%= patient.prescriptions.count %></td>
      </tr>
    <% end %>
  </table>
</div>
