<div class="nav_bar">
  <div class="my">
    <h3>my</h3>
  </div>
  <div class="prescription">
    <h3>prescription</h3>
  </div>
  <div class="pal">
    <h3>pal</h3>
  </div>
  <div class="user_nav_bar">
    <% if @current_doctor %>
      <div class="greeting">
        Hello, Dr. <%= @current_doctor.last_name %>
      </div>
      <div class="messages">
        Messages
      </div>
      <div class="sign_out">
        <%= link_to "Sign Out", doctor_sign_out_path, method: :delete %>
      </div>
    <% elsif @current_patient %>
      <div class="greeting">
        Hello, <%= @current_patient.full_name %>
      </div>
      <div class="messages">
        Messages
      </div>
      <div class="sign_out">
      <%= link_to "Sign Out", patient_sign_out_path, method: :delete %>
      </div>
    <% end %>
  </div>
</div>
<div class="title_bar">
  <div class="title_name">
    <h4>Your Patients</h4>
  </div>
</div>
<div class="page_content">
  <div class="new_patient btn btn-default">
    <%= link_to 'Add New Patient', all_patients_path %>
  </div>
  <table class="table table-striped">
    <tr>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Prescriptions</th>
    </tr>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= link_to "#{patient.email}", doctor_view_patient_path(patient_id: patient.id) %></td>
        <td><%= patient.first_name %></td>
        <td><%= patient.last_name %></td>
        <td><%= patient.prescriptions.count %></td>
      </tr>
    <% end %>
  </table>
</div>
