<%= render 'layouts/header' %>
<%= render 'layouts/titlebarstart' %>Your <%= @prescription.drug_name %> Prescription for <%= @patient.full_name %><%= render 'layouts/titlebarend' %>
<div class="page_content">
  <%= render 'doses/druginfo' %>
  <%= render 'doses/dosesinfo' %>
  <%= render 'doses/reports' %>
</div>
