<%= render 'layouts/header' %>
<%= render 'layouts/titlebarstart' %>Your <%= @prescription.drug_name %> Prescription for <%= @patient.full_name %><%= render 'layouts/titlebarend' %>
<div class="page_content">
  <div class="drug_info">
    <h5>Purpose: <%= @prescription.purpose %></h5>
  </div>
  <div class= "drug_amounts">
    <p>Initial Amount: <%= @prescription.initial_amount_of_pills %></p>
    <p>Remaining Amount: <%= @prescription.remaining_amount_of_pills %></p>
  </div>
  <table class="dose_table table table-striped">
    <tr>
      <th>Amount</th>
      <th>Pain Scale</th>
      <th>Date</th>
      <th>Time</th>
    </tr>
    <% @doses.each do |dose| %>
      <tr>
        <td><%= dose.amount_of_pills_taken %></td>
        <td><%= dose.pain_scale %></td>
        <td><%= dose.created_at.strftime('%x') %></td>
        <td><%= dose.created_at.strftime('%u') %>:<%= dose.created_at.strftime('%M') %> <%=dose.created_at.strftime('%P') %></td>
      </tr>
    <% end %>
  </table>
</div>
